.separator {
  display: block;
  width: 60px;
  height: 7px;
  margin: 15px auto 15px;
  background-color: #cccccc;
  position: relative;
  border: 1px solid #cccccc;
}
.separator:after {
  width: 30px;
  height: 7px;
  background: #ffc107;
  position: absolute;
  top: -1px;
  left: -1px;
  content: "";
}
.bg-random{
  background-image: url(./Components/slider/slide2_wh25.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}